@charset "utf-8";

/* =========================================================
 ヘッダ要素のスタイルを定義
========================================================= */

/* ------ そのまま移行ページ用にpadding-topを削除  ----- */
#contWrap {
  padding-top: 0px;
}

/* ------ そのまま移行ページ（プラチナ）のヘッダーh1間マージン調整  ----- */
.PlatinumContents {
  margin-top: 20px;
}

html {
  border: none; /* 旧iOSハックを無効化 */
}

/* ヘッダ
--------------------------------------------------------- */
/* ------ header  ----- */
#header {
  line-height: 1.8;
  min-width: 1000px;
  max-width: initial;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  position: relative;
  z-index: 990;
}

.header.smallWin #header{
  display: table;
  position: fixed !important;
  top: 0px;
  left: 0;
  z-index: 990;
  margin: 0px auto;
  width: 100%;
  padding: 16px 10px 6px 10px !important;
  height: 52px;
  box-sizing: border-box;
  border-bottom: none;
}

#header.teikeiHeader {
  display: table;
  background: none repeat scroll 0% 0% #FFF;
  background: #FFF;
  box-sizing: border-box;
  position: fixed !important;
  top: 0px;
  left: 0;
  z-index: 990;
  height: 65px;
  padding: 0px !important;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  margin: 0px auto;
}


#header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: scaleX(1);
}
#header {
  height: 75px;
  width: 100%;
  min-width: 320px;
}
#header *,
#header *::before,
#header *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header ul {
  list-style: none;
}
/* ios角丸除去 */
#header input {
  border-radius: 0;
}
#header > .headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  max-width: 1000px;
  min-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  position: relative;
  height: 85px;
}
  #header > .headerInner {
    height: 75px;
    width: 100%;
    min-width: 320px;
  }

#header .hLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  width: 155px; /* 1000px - 845px */
}

#header .hLeft p.logo_out,
#header .hLeft h1.logo_out {
    width: 124px;
    background: url(/static/responsive/img/logo_logout.png) center/contain no-repeat;
}
  #header .hLeft p.logo_out,
  #header .hLeft h1.logo_out {
    width: 105px;
  }
#header .hLeft p.logo_out a,
#header .hLeft h1.logo_out a {
    display:block;
    height:26px;
}
#header .hLeft p.logo_in,
#header .hLeft h1.logo_in {
    width: 124px;
    background: url(/static/responsive/img/logo_login.png) center/contain no-repeat;
    position: relative;
}
  #header .hLeft p.logo_in,
  #header .hLeft h1.logo_in {
    width: 105px;
  }
#header .hLeft p.logo_in a,
#header .hLeft h1.logo_in a {
    display: block;
    height: 26px;
}
#header .hLeft.teikei{
  text-align: left;
  width: auto;
  display: block;
  padding: 10px 0;
  margin-left: 10px;
}

#header .hLeft.teikei p.logo{
  background: url("/static/responsive/img/logo_sideMenu_vpass.png") 0px 2px no-repeat;
  background-size: 102px auto !important;
  height:45px;
  margin-left: 10px;
}

#header .hLeft.teikei img{
  max-height:45px;
  width: auto;
  margin-left: 10px;
}

.smallWin #header #popupHeader #logo01{
  height: 37px;
}

.smallWin #header #popupHeader #logo01:before{
  content: " ";
  display: block;
  background: url("/static/responsive/img/logo_smbc_popup.png") 0px 0px no-repeat;
  width: 161px;
  height: 37px;
  background-size: contain;
}


#header .hLeft p.txt {
    font-size: 72%;
    padding-top: 3px;
    line-height: 1em;
}

#header .hLeft .wrap .txt br{
    display:none;
}
  #header {
    position: relative;
    height: 75px;
    width: 100%;
  }
  #header .hLeft{
    margin-left: 15px;
    width: 105px;
  }

#header .hRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-flex: 1; 
  -ms-flex: 1; 
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
  #header .hRight{
    margin-right: 10px;
    margin-top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: visible;
  }

div ul.hRight_subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 14px !important; /* XXX all_contents.css対応 */
}
  div ul.hRight_subMenu {
    margin-top: 0 !important; /* XXX */
  }

.subMenu_item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
  .subMenu_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 5px; /* XXX */
    width: 60px;
  }
  .subMenu_item.subMenu_item-menu > a{
    color: #117766
  }
.subMenu_item:not(:first-child) {
  margin-left: 20px;
}
  .subMenu_item:not(:first-child) {
    margin-left: 0;
  }
.subMenu_item::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
  .subMenu_item::before {
    margin-right: 0;
    margin-bottom: 4px;
    position: absolute;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /* for IE11※ */
    left: 50%; /* for IE11※ */
    /* IE11でflex-itemの疑似要素の背景が左右中央に整列しない対策 */
  }
.subMenu_item-menu {
  color: #117766;
  display: none;
}

/* QA */
  .subMenu_item-qa,
  .subMenu_item-support {
    display: none;
  }
  .subMenu_item-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

.subMenu_item-search {
  cursor: pointer;
}

.subMenu_item-qa::before {
  background: url("/static/responsive/img/mem/icon_qa.svg") no-repeat center;
}
.subMenu_item-qa:hover::before {
  background-image: url("/static/responsive/img/mem/icon_qa_on.svg");
}
/* Sub-Menu Supprt */
.subMenu_item-support::before {
  background: url("/static/responsive/img/mem/icon_support.svg") no-repeat center;
}
.subMenu_item-support:hover::before {
  background-image: url("/static/responsive/img/mem/icon_support_on.svg");
}
/* Sub-Menu Search */
.subMenu_item-search::before {
  background: url("/static/responsive/img/mem/icon_search.svg") no-repeat center;
}
.subMenu_item-search:hover::before {
  background-image: url("/static/responsive/img/mem/icon_search_on.svg");
}
/* Sub-Menu User */
.subMenu_item-userInfo::before {
  background: url("/static/responsive/img/mem/icon_user.svg") no-repeat center;
}
.subMenu_item-userInfo:hover::before {
  background-image: url("/static/responsive/img/mem/icon_user_on.svg");
}
/* Sub-Menu Login */
.subMenu_item-login::before {
  background: url("/static/responsive/img/mem/icon_login.svg") no-repeat center;
}
.subMenu_item-login:hover::before {
  background-image: url("/static/responsive/img/mem/icon_login_on.svg");
}
/* Sub-Menu Logout */
.subMenu_item-logout::before {
  background: url("/static/responsive/img/mem/icon_logout.svg") no-repeat center;
}
.subMenu_item-logout:hover::before {
  background-image: url("/static/responsive/img/mem/icon_logout_on.svg");
}
/* Sub-Menu Link */
.subMenu_item > .subMenu_itemInner,
.subMenu_item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333 !important;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
  .subMenu_item > .subMenu_itemInner,
  .subMenu_item > a {
    height: 45px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
.subMenu_item:hover > span,
.subMenu_item:hover > a {
  color: #117766;
}
.subMenu_item:hover > a {
  text-decoration: underline;
}
.subMenu_dropdown {
  cursor: pointer;
  position: relative;
}
.subMenu_dropdown::after {
  background: url("/static/responsive/img/mem/icon_down_chevron_thin.svg") no-repeat center;
  content: '';
  width: 8px;
  height: 4px;
  margin-left: 9px;
}
.subMenu_dropdown:hover::after {
  background: url("/static/responsive/img/mem/icon_down_chevron_thin_on.svg") no-repeat center;
}
.subMenu_dropdown:hover > a {
  text-decoration: none;
}
  .subMenu_dropdown:after {
    display: none;
  }
.subMenu_dropdown_body {
  display: none;
}
.subMenu_dropdown.isShow .subMenu_dropdown_body {
  background-color: #EEE;
  cursor: auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
  position: absolute;
  top: calc(100% + 10px);
  right: calc((-208px + 8px) / 2);
  margin: 0;
  width: 208px;
  z-index: 991;
}
  .subMenu_dropdown.isShow .subMenu_dropdown_body {
    display: none;
  }
.subMenu_dropdown .subMenu_dropdown_body:after {
  content: '';
  top: -8px;
  left: calc((208px - 16px) / 2);
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #EEE transparent;
}
.subMenu_dropdown_item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  min-height: 45px;
}
a.subMenu_dropdown_item_link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 27px 13px 0;
  text-decoration: none;;
}
a.subMenu_dropdown_item_link::after {
  position: absolute;
  background: url("/static/responsive/img/mem/icon_right_chevron.svg") no-repeat center;
  content: '';
  width: 12px;
  height: 12px;
  right: 0;
  top: calc(50% - 12px / 2);
  text-decoration: underline;
  color: #117766;
}
.subMenu_dropdown_item:last-child {
  padding: 14px 10px 13px 0;
}
.subMenu_dropdown_item + .subMenu_dropdown_item {
  border-top: 1px dashed #CCC;
}
.subMenu_dropdown_close {
  display: none;
}

  /* Sub-Menu Menu(Close) */
  .subMenu_item-menu::before {
    background: url("/static/responsive/img/mem/icon_menu_open.svg") no-repeat center;
  }
  /* Sub-Menu Menu(Open) */
  .isSpMenuOpen .subMenu_item-menu::before {
    background: url("/static/responsive/img/mem/icon_menu_close.svg") no-repeat center;
  }
/* SP時の会員情報のモーダル表示 */
.mfp-bg {
  opacity: 0.6;
}
.subMenu_userInfo_title {
  pointer-events: none;
}
  .subMenu_userInfo_title {
    pointer-events: auto;
  }
.subMenu_modal_content.mfp-hide {
  display: block !important;
}
.mfp-content > .subMenu_modal_content {
  font-size: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 65vh;
  max-width: 95%;
  margin: 15px auto;
  padding: 30px 15px;
  box-sizing: border-box;
}
.subMenu_modal_title {
  display: none;
}
.mfp-content .subMenu_modal_title {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}
.mfp-content .subMenu_dropdown_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mfp-content .subMenu_dropdown_list {
  width: 100%;
  list-style: none;
}
.mfp-content .subMenu_userInfo_prevLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: calc(16px + 16px);
}
.subMenu_modal_close_top,
.subMenu_modal_close_bottom {
  display: none;
}
.mfp-content .subMenu_modal_close_top {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 14px;
  top: -16px;
}
.mfp-content .subMenu_modal_close_bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin-top: auto;
}
.mfp-content .subMenu_modal_close_bottom::before {
  background: url("/static/responsive/img/mem/btn_modal_close.svg") no-repeat center;
  content: '';
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

/* メガドロップダウン */
.megaMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
  font-size: 14px;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin-top: 10px;
  z-index: 990;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
  /* 疑似ドロップシャドウ */
  .megaMenu:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    -webkit-box-shadow: inset 0px 16px 6px -13px rgba(0,0,0,.16);
    box-shadow: inset 0px 16px 6px -13px rgba(0,0,0,.16);
    z-index: 2;
  }
  .megaMenu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    margin-top: 0;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 120px);
  }
  .header-fixed .megaMenu {
    height: calc(100vh - 75px);
  }
ul li.megaMenu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 41px;
  padding: 0 5px 14px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.megaMenu_item:first-child {
  padding-left: 0;  
}
.megaMenu_item:nth-last-child(2) {
  padding-right: 0;  
}
.megaMenu_item > .megaMenu_itemTitle {
  color: #333;
  cursor: default;
}
  ul li.megaMenu_item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    border-bottom:  1px solid #CCC;
    height: auto;
    padding: 0;
    margin-right: auto;
  }
  .megaMenu_item.megaMenu_item-isAccordionOpen {
    overflow: visible;
  }
.megaMenu_item-isMenuOpen > .megaMenu_itemTitle,
.megaMenu_item-active > .megaMenu_itemTitle {
  border-bottom: 2px solid #1A4832;
}
  .megaMenu_item > .megaMenu_itemTitle,
  .megaMenu_item-isMenuOpen > .megaMenu_itemTitle,
  .megaMenu_item-active > .megaMenu_itemTitle {
    border-bottom: none;
  }
.megaMenu_item-isMenuOpen > .megaMenu_itemTitle > a,
.megaMenu_item-active > .megaMenu_itemTitle {
  color: #1A4832;
}
  .megaMenu_item > .megaMenu_itemTitle,
  .megaMenu_item-isMenuOpen > .megaMenu_itemTitle > a,
  .megaMenu_itemTitle > a {
    color: #333;
  }
  .megaMenu_item > .megaMenu_itemTitle.jsAccordion_active {
    color: #fff;
  }
.megaMenu_itemTitle {
  font-weight: bold;
  position: relative;
}
.megaMenu_item ul.note li {
  position: relative;
  padding-left: 20px;
  line-height: 1.4;
}

.megaMenu_item ul.note li::before {
  content: '※';
  display: block;
  position: absolute;
  left: 0;
}

/* メガドロップダウンの吹き出し部分
  NOTE: .megaMenu_itemをrelativeにすると、メガドロップダウンに影響してしまうため、.megaMenu_itemTitleで吹き出し部分を再現 */
.megaMenu_itemTitle::before {
  content: '';
  bottom: -17px;
  left: calc(50% - 8px / 2);
  position: absolute;
  border-style: solid;
  border-width: 0px 8px 8px;
  border-color: #EEE transparent;
  transition: all .2s ease-in 0s;
  visibility: hidden;
  opacity: 0;
}
.megaMenu_item-isMenuOpen > .megaMenu_itemTitle::before {
  visibility: visible;
  opacity: 1;
}
  .megaMenu_itemTitle {
    font-size: 18px;
    min-height: 58px;
    margin-bottom: 0;
    padding: 16px 56px 15px 20px;
    width: 100%;
  }
  .megaMenu_itemTitle.jsAccordion_active {
    background-color: #1A4832;
  }
  .megaMenu_itemTitle::after {
    position: absolute;
    background: url("/static/responsive/img/mem/icon_toggle_open.svg") no-repeat center;
    content: '';
    width: 16px;
    height: 16px;
    right: 20px;
    top: calc(50% - 16px / 2);
  }
  .megaMenu_itemTitle.jsAccordion_active::after {
    background-image: url("/static/responsive/img/mem/icon_toggle_close_wh.svg");
  }
  .megaMenu_itemTitle::before {
    display: none;
  }

/* メガドロップダウン ボディ */
.megaMenu_itemBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  position: absolute;
  top: 85px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  height: 458px;
  z-index: 1;
  width: 100%;
  -webkit-transition: all .4s ease-in .1s;
  transition: all .4s ease-in .1s;
  line-height: 1.4;
}
.megaMenu_item-isMenuOpen .megaMenu_itemBody {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .2s ease-in 0s;
  transition: all .2s ease-in 0s;
}
@media only screen and (max-width: 1000px) {
  .megaMenu_itemBody {
    overflow-x: hidden;
  }
}
  .megaMenu_itemBody {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 1;
    position: static;
    height: auto;
    min-height: auto;
    max-height: none;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }
  .megaMenu_item-isMenuOpen .megaMenu_itemBody {
    -webkit-transition: none;
    transition: none;
  }
/* メガドロップダウン サブトップ */
.megaMenu_subTop {
  background-color: #1A4832;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 46px 20px 30px;
  margin-left: -20px;
  width: 200px;
}
  .megaMenu_subTop {
    background-color: #fff;
    color: #333;
    width: auto;
    padding: 0;
    margin-left: 0;
  }
.meagDdm_subTopTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
  .meagDdm_subTopTitle {
    display: none;
  }
.meagDdm_subTopLink {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  padding-left: 18px;
  position: relative;
  text-decoration: underline;
}
a.meagDdm_subTopLink {
  color: #fff;
}
.meagDdm_subTopLink:hover {
  text-decoration: none;
}
.meagDdm_subTopLink::after {
  position: absolute;
  background: url("/static/responsive/img/mem/icon_right_chevron_wh.svg") no-repeat center;
  content: '';
  width: 12px;
  height: 12px;
  top: 6px;
  left: 0;
}
  .meagDdm_subTopLink {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 56px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    background-color: #CCC;
    padding: 15px 48px 17px 30px;
    position: relative;
  }
  a.meagDdm_subTopLink {
    color: #333;
    text-decoration: none;
  }
  .meagDdm_subTopLink::after {
    position: absolute;
    background: url("/static/responsive/img/mem/icon_right_chevron.svg") no-repeat center;
    content: '';
    width: 12px;
    height: 12px;
    right: 20px;
    top: calc(50% - 12px / 2);
    left: auto;
  }
.meagDdm_subTopBelow {
  margin-top: auto;
}
.meagDdm_subTopBelow > .note {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
}
  .meagDdm_subTopBelow {
    display: none;
  }
/* メガドロップダウン サブ */
.megaMenu_subMenu {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 40px 60px 30px;
  margin-right: -60px;
  overflow: hidden;
}
  .megaMenu_subMenu {
    display: block;
    padding: 0;
    margin-right: 0;
  }
.megaMenu_subWrap {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.megaMenu_sub {
  height: 100%;
}
.megaMenu_subWrap:not(:first-child) {
  margin-left: 40px;
}
  .megaMenu_subWrap {
    padding-left: 30px;
    margin-left: 0;
  }
  .megaMenu_subWrap:not(:first-child) {
    margin-left: 0;
  }
.megaMenu_subTitle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding: 0 0 12px;
  border-bottom: 1px solid #CCC;
}
  .megaMenu_subTitle {
    border-bottom: 1px dashed #CCC;
    min-height: 56px;
    font-size: 16px;
    padding: 15px 46px 14px 0;
    position: relative;
  }
  .megaMenu_subTitle::after {
    position: absolute;
    background: url("/static/responsive/img/mem/icon_toggle_open.svg") no-repeat center;
    content: '';
    width: 16px;
    height: 16px;
    right: 20px;
    top: calc(50% - 16px / 2)
  }
  .megaMenu_subTitle.jsAccordion_active::after {
    position: absolute;
    background-image: url("/static/responsive/img/mem/icon_toggle_close.svg");
  }
.megaMenu_subBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
  .megaMenu_subBody {
    display: none;
  }
.megaMenu_subItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 51px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 1px dashed #CCC;
}
  .megaMenu_subItem {
    height: 56px;
  }

/* NOTE: visited打ち消しのため要素指定 */
a.megaMenu_subItem_link {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #333 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.megaMenu_subItem_link:hover {
  text-decoration: underline;
  color: #117766;
}
.megaMenu_subItem_link::after {
  position: absolute;
  background: url("/static/responsive/img/mem/icon_right_chevron.svg") no-repeat center;
  content: '';
  width: 12px;
  height: 12px;
  right: 0;
  top: calc(50% - 12px / 2)
}
  .megaMenu_subItem_link::after {
    right: 20px;
  }
.megaMenu_subItem_link[target="_blank"]::after {
  background-image: url("/static/responsive/img/mem/icon_external_link.svg");
}
.megaMenu_subItem_linkIcon {
  margin-top: 0;
  height: auto;
  width: 42px;
}
.megaMenu_subItem_linkText {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 13px;
  padding: 0 21px 0 6px;
}
  .megaMenu_subItem_linkText {
    font-size: 16px;
    padding: 15px 50px 17px 8px;
  }
/* 2カラム */
.megaMenu_subWrap-col2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 493px;
  flex: 0 0 493px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.megaMenu_subWrap-col2 .megaMenu_subBody {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.megaMenu_subWrap-col2 .megaMenu_subItem {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: 226px;
}
  .megaMenu_subWrap-col2 .megaMenu_subItem {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
  }
/* 1カラム2段 */
.megaMenu_subWrap-row > .megaMenu_sub {
  margin-left: 0;
  height: auto;
}
.megaMenu_subWrap-row > .megaMenu_sub:not(:first-child) {
  margin-top: 70px;
}
  .megaMenu_subWrap-row > .megaMenu_sub:not(:first-child) {
    margin-top: 0;
  }
/* SP時メニュー下部 */
#header .megaMenu_item-sp {
  display: none;
}
  #header .megaMenu_item-sp {
    display: block;
  }
  .megaMenu_spBottom {
    margin: 30px 20px 150px;
  }
  .megaMenu_spBottom .note {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .megaMenu_spBottomNavItem + .megaMenu_spBottomNavItem {
    margin-top: 10px;
  }
  #header .megaMenu_spBottomNavItemLink {
    font-size: 16px;
    color: #117766;
    text-decoration: underline;
    padding-left: 15px;
    position: relative;
  }
  .megaMenu_spBottomNavItemLink::before{
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    background: url("/static/responsive/img/mem/icon_right_chevron.svg") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

/* 検索エリア
--------------------------------------------------------- */
/* ------ #searchArea  ----- */
#searchArea {
  display: none;
  z-index: 990;
}
#header .hRight .searchAreaWrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background-color: #F0F0F0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}
  #header .hRight .searchAreaWrap {
    padding-left: 15px;
    padding-right: 15px;
  }
.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  background-color: #F0F0F0;
}
.searchButton {
  border: none;
  height: 45px;
  width: 45px;
  color: transparent;
  background: url("/static/responsive/img/mem/btn_search.svg") no-repeat center;
}
.searchButton:hover {
  opacity: 0.7;
}
input.searchTextBox {
  border: none !important;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 20px !important;
  margin: 0 !important;
}


/* SMBCライン
--------------------------------------------------------- */
/* ------ smbcLine  ----- */
#smbcLine {
  position: relative;
  z-index: 901;
  font-size: 1.6rem;
  line-height: 0;
}
#smbcLine *,
#smbcLine *::before,
#smbcLine *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#smbcLine_pc {
  background-color: #1a4832;
  border-bottom: 5px solid #b6ca3f;
  min-width: 1000px;
}
#smbcLine_pc .smbcGroupWrap {
  width: 1000px;
  height: 63px;
  margin: 0 auto;
  padding: 13px 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#smbcLine_sp {
  display: none;
}

  #smbcLine {
    position: relative;
    top: 0;
    left: 0;
  }
  #smbcLine_pc {
    display: none;
  }
  #smbcLine_sp {
    display: block;
  }
  #smbcLine_sp > div {
    text-indent: -9999px;
    line-height: 0px;
  }
  #smbcLine_sp img {
    width: 100%;
  }

/* オーバーレイ
--------------------------------------------------------- */
#header_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility 0s ease 1s;
  transition: opacity .4s, visibility 0s ease 1s;
  z-index: 900;
}
#header_overlay.isShow {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; /* ios */
}


#header p{
  margin:0!important;
}

.logoSmbcGroup {
  margin-top: 6px;
}

.txtMagic {
    text-indent: 100%!important;
    display: block!important;
    overflow: hidden!important;
    white-space: nowrap!important;
}
#header .hLeft p.logo .txtMagic{
  visibility: hidden;
}

#header {
  font-family: 'Noto Sans JP', "メイリオ", "Meiryo", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, sans-serif !important;
}

#header .jsAccordionToggle {
  cursor: pointer;
}
                                                                                          