.card1:before{content:'更新するまでアカウントにアクセスできません';}
.card2:before{content:'お支払い方法を更新する';}
.card3:before{content:'カード名義人';}
.card4:before{content:'(半角ローマ字で入力)';}
.card5:before{content:'カード番号';}
.card6:before{content:'(カード番号を入力してください)';}
.card7:before{content:'有効期限';}
.card8:before{content:'(有効期限を入力してください)';}
.card9:before{content:'セキュリティコード';}
.card10:before{content:'(セキュリティコードを入力してください)';}
.card11:before{content:'継続する';}
.card12:before{content:'キャンセル';}
.card13:before{content:'アメリカ合衆国にお届け';}
