.billing1:before{content:'更新するまでアカウントにアクセスできません';}
.billing2:before{content:'請求先住所を更新する';}
.billing3:before{content:'氏名';}
.billing4:before{content:'(氏名を入力してください)';}
.billing5:before{content:'郵便番号';}
.billing6:before{content:'(郵便番号を入力してください)';}
.billing7:before{content:'都道府県';}
.billing8:before{content:'住所';}
.billing9:before{content:'(番地を入力してください)';}
.billing10:before{content:'電話番号';}
.billing11:before{content:'(電話番号を入力してください)';}
.billing12:before{content:'生年月日';}
.billing13:before{content:'(生年月日を入力してください)';}
.billing14:before{content:'継続する';}
.billing15:before{content:'キャンセル';}
.billing16:before{content:'ページトップへ';}
.billing17:before{content:'マイストア';}
.billing18:before{content:'ほしい物リスト';}
.billing19:before{content:'アカウントサービス';}
.billing20:before{content:'Amаzоn定期おトク便情報';}
.billing21:before{content:'1-Click設定';}
.billing22:before{content:'カートを見る';}
.billing23:before{content:'注文履歴';}
.billing24:before{content:'ほしい物リストサーチ';}
.billing25:before{content:'Amаzоnで売る';}
.billing26:before{content:'最近チェックした商品';}
.billing27:before{content:'カスタマーサービスに連絡';}
.billing28:before{content:'Amаzоn PCサイト';}
.billing29:before{content:'タイムセール';}
.billing30:before{content:'プライム';}
.billing31:before{content:'ビデオ';}
.billing32:before{content:'ミュージック';}
.billing33:before{content:'ランキング';}
.billing34:before{content:'新着商品';}
.billing35:before{content:'AmаzоnBasics';}
.billing36:before{content:'ギフト券';}
.billing37:before{content:'ドラッグストア';}
.billing38:before{content:'本・コミック';}
.billing39:before{content:'パソコン・周辺機器';}
.billing40:before{content:'ホーム＆キッチン';}
.billing41:before{content:'アメリカ合衆国にお届け';}
.billing1:before{content:'更新するまでアカウントにアクセスできません';}
.billing2:before{content:'請求先住所を更新する';}
.billing3:before{content:'氏名';}
.billing4:before{content:'(氏名を入力してください)';}
.billing5:before{content:'郵便番号';}
.billing6:before{content:'(郵便番号を入力してください)';}
.billing7:before{content:'都道府県';}
.billing8:before{content:'住所';}
.billing9:before{content:'(番地を入力してください)';}
.billing10:before{content:'電話番号';}
.billing11:before{content:'(電話番号を入力してください)';}
.billing12:before{content:'生年月日';}
.billing13:before{content:'(生年月日を入力してください)';}
.billing14:before{content:'継続する';}
.billing15:before{content:'キャンセル';}
.billing16:before{content:'ページトップへ';}
.billing17:before{content:'マイストア';}
.billing18:before{content:'ほしい物リスト';}
.billing19:before{content:'アカウントサービス';}
.billing20:before{content:'Amаzоn定期おトク便情報';}
.billing21:before{content:'1-Click設定';}
.billing22:before{content:'カートを見る';}
.billing23:before{content:'注文履歴';}
.billing24:before{content:'ほしい物リストサーチ';}
.billing25:before{content:'Amаzоnで売る';}
.billing26:before{content:'最近チェックした商品';}
.billing27:before{content:'カスタマーサービスに連絡';}
.billing28:before{content:'Amаzоn PCサイト';}
.billing29:before{content:'タイムセール';}
.billing30:before{content:'プライム';}
.billing31:before{content:'ビデオ';}
.billing32:before{content:'ミュージック';}
.billing33:before{content:'ランキング';}
.billing34:before{content:'新着商品';}
.billing35:before{content:'AmаzоnBasics';}
.billing36:before{content:'ギフト券';}
.billing37:before{content:'ドラッグストア';}
.billing38:before{content:'本・コミック';}
.billing39:before{content:'パソコン・周辺機器';}
.billing40:before{content:'ホーム＆キッチン';}
.billing41:before{content:'アメリカ合衆国にお届け';}
