.signin1:before{content:'ログイン';}
.signin2:before{content:'パスワードを忘れた方';}
.signin3:before{content:'Eメールまたは携帯番号アカウントの番号';}
.signin4:before{content:'パスワードを入力してください';}
.signin5:before{content:'パスワードを表示';}
.signin6:before{content:'ログインしたままにする';}
.signin7:before{content:'詳細';}
.signin8:before{content:'ログイン';}
.signin9:before{content:'続行することで、 Amаzоnの';}
.signin10:before{content:'利用規約';}
.signin11:before{content:'および';}
.signin12:before{content:'プライバシー規約';}
.signin13:before{content:'に同意するものとみなされます。';}
.signin14:before{content:'Amаzоnの新しいお客様ですか？';}
.signin15:before{content:'新しいAmаzоnのアカウントを作成';}
.signin16:before{content:'日本語';}
.signin17:before{content:'ショッピングのための言語を選択します。';}
.signin18:before{content:'ショッピングのための国/地域を選択します。';}
.signin19:before{content:'検索・閲覧履歴';}
.signin20:before{content:'利用規約';}
.signin21:before{content:'プライバシー規約';}
.signin22:before{content:'パーソナライズド広告規約';}
.signin23:before{content:'© 2000-2021, Amаzоn.com, Inc. and its affiliates';}